/* Cars*/

#cards_container {
  max-width: 600px;
}

.content #cards_container .card {
  background-color: #28a745;
  border-radius: 10px;
  
}

.content #cards_container a {
  color: #fff;
  font-size: 30px;
}

.content a {
  width: 300px;
}