/* 
------------------
CSS: TOC
------------------
- Reset
- Smooth Scrolling
- Fonts
  - Font Colors
- Navbar
- Body
  - Headings
  - Paragraphs
  - Lists
  - Links
  - Buttons
  - Images
  - Icons
- Hero Section
- Forms
- List Overview
*/

/* =========== RESET ============== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* =========== SMOOTH SCROLLING ============== */
html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* =========== FONTS ============== */

@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100;200&display=swap');

.bold {
  font-weight: bold;
}

/* ==== FONT COLORS ==== */

.text-green {
  color: #2fc452;
}
.text-red {
  color: #d84227;
}

.text-underline-green {
  border-bottom: #2fc452 3px solid;
}
.text-underline-red {
  border-bottom: #d84227 3px solid;
}
/* =========== NAVBAR/FOOTER ============== */

.navbar, .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  /* position: fixed; */
  top: 0px;
  padding: 0 30px;
}

.navbar a, .footer a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
  font-weight: 600;
}

.navbar a:hover, .footer a:hover, .current {
  border-bottom: #28a745 2px solid ;
}

.navbar ul, .footer ul {
  display: flex;
}

.navbar .logo {
  font-weight: 600;
}

.navbar .logo a {
  border: none;
}

/* =========== BODY ============== */

body {
  font-family: 'Comme', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}
/* ==== Headings ==== */

h1, h2, h3 {
  font-weight: 300;
  line-height: 1.2;
  }

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}

/* ==== PARAGRAPHS ==== */

p {
  margin: 10px 0;
  font-size: 1.2rem;
}

/* ==== LISTS ==== */

ul {
  list-style: none;
}

/* ==== LINKS ==== */

a {
  color: #fff;
  text-decoration: none;
}

/* ==== BUTTONS ==== */

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px;
  color: #fff;
  background-color: #28a745;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 500;
}

.btn:hover {
  background-color: #30c453;
}

.btn-red {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px;
  color: #fff;
  background-color: #c22121;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  border-radius: 5px;
  font-size: 23px;
  font-weight: 500;
}

.btn-red:hover {
  background-color: #d82727;
}


/* ==== IMAGES ==== */
img {
  width: 100%;
}

/* ==== Icons ==== */

.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background-color: #28a745;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}


/* ============ HERO SECTION =============== */

.hero {
  height: 100vh;
  position: relative;
  color: #fff;
}

/* Hero Background */
#bg-students {
  background: url(/static/images/students.jpg) no-repeat center center/cover;
}

.bg-texture-concrete {
  background: url(/static/images/textureConrete.jpg) no-repeat center center/cover;
}
.bg-white-bricks{
  background: url(/static/images/whiteBricks.jpg) no-repeat center center/cover;
}


.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content p {
  max-width: 700px;
  margin: 10px 0 30px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.608);
}

.hero * {
  z-index: 3;
}

/* ============ FORMS =============== */

#form_container {
  max-width: 300px;
}

.form_container_add_items {
  max-width: 1000px;
}

#form_container p {
  font-size: 16px;
}

#form_container a {
  color: #34d259;
  text-decoration: underline;
}

.form-group {
  margin-top: 15px;
}
.form-group label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #787878;
}

.add-items-form input {
  width: 300px;
}

/* Add Items Form */

.add-items-form {
  max-width: 1000px;
}
.add-items-form .btn {
  padding: 0 15px;
}

input[type="date"]{
  max-width: 180px;
}

/* ==== ADD LIST ITEMS FORM ====*/

.add-items-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.add-items-form select {
  margin: 10px 5px;
  padding: 0 5px;
  background-color: #fff;
  color: #787878;
  font-family: 'Comme', sans-serif;  
  font-size: 1.2rem;
  border-radius: 5px;
}

/* .add-items-form  */

option:checked, option:hover {
      box-shadow: 0 0 10px 100px #4ddc3b inset;
    }

/* ==== LIST OVERVIEW ==== */
#add_class, #add_project {
  margin-top: 20px;
  max-width: 800px;
  display: flex;
  padding: 20px;
  gap: 10px;
}

table {
  margin-top: 15px;
  border-spacing: 10px;
}

tr {
  background-color: #333333af;
}

td {
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
}

table tr td a, table tr td form button, table tr td form input td button {
  color: #fff;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

table tr td a.project-link:hover{
  text-decoration: underline 2px #28a745;
}

table tr td a.checkmark:hover , a.pen:hover {
  color: #28a745 !important;
}

table tr td a.project-link.checked {
  text-decoration: line-through;
  color: #b1b0b0;
}

table tr td form button.trash:hover {
  color: red !important;
}

table tr td a i {
  font-size: 16px;
}

/* ============ FLEX ITEMS (Index.html) =============== */

.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
}

/* Flex columns */
.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}
.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}

/* ==== PRESENTATION ==== */

section ul {
  margin-top: 40px;
  margin-bottom: 30px;
  max-width: 800px;
  list-style: circle;
  font-size: 1.5rem;
  font-weight: 100;
  text-align: left;
  font-size: 2rem;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

.flex-container {
  display: flex;
}

section a .btn {
  margin-top: 30px;
  display: inline !important;
}

section figure {
  display: inline-block;
  margin: 30px 10px;
}

section img {
  height: 600px;
  width: auto;
  border: 2px solid #fff;
  border-radius:10px;
  object-fit: cover;
}

figcaption {
  text-align: left;
  margin-left: 10px;
  font-size: 1.2rem;
}

h2.italic {
  font-family:'Times New Roman', Times, serif;
  max-width: 800px;
  margin: 50px 0;
  font-style: italic;
  line-height: 1.6;
}

span.material-symbols-outlined {
  font-size: 5rem;
  margin-top: 30px;
}

section .fa-brands {
  margin-bottom: 30px;
}
