<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://kit.fontawesome.com/29bd2ed884.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <title>sTudoo | Classes</title>
</head>
<body>
  <header>
    <div id="nav1">
      <div id="logo"><a href="#"><i class="fa-sharp fa-solid fa-graduation-cap"></i></i></i> sTudoo</a></div>
    <div id="login"><a href="user.html"><i class="fa-solid fa-circle-user"></i></a></div>
    </div>
    <div id="nav2">
      <a class="current" href="classes.html">Classes</a>
      <a href="projects.html">Projects</a>
      <a href="todos.html">Todos</a>
    </div>
  </header>
  <!-- Input -->
  <form>
    <input id="class_input" type="text" placeholder="Add a new class ...">
    <input class="btn" type="button" value="+">
  </form>
  <!-- Classes -->
  <table>
    <tr>
      <th>Name</th>
    </tr>
    <tr>
      <td><a href="#">Objektorientierte Programmierung 1</a></td>
      <td><i class="fa-regular fa-pen-to-square"></i></td>
      <td><i class="fa-solid fa-trash"></i></td>
    </tr>
    <tr>
      <td><a href="#">Objektorientierte Programmierung 2</a></td>
      <td><i class="fa-regular fa-pen-to-square"></i></td>
      <td><i class="fa-solid fa-trash"></i></td>
    </tr>
  
    <tr>
      <td>Datenbanken</td>
      <td><i class="fa-regular fa-pen-to-square"></i></td>
      <td><i class="fa-solid fa-trash"></i></td>
    </tr>
    <tr>
      <td>Entwicklung von Web-Anwendungen</td>
      <td><i class="fa-regular fa-pen-to-square"></i></td>
      <td><i class="fa-solid fa-trash"></i></td>
    </tr>
    <tr>
      <td>App-Entwicklung mit Android</td>
      <td><i class="fa-regular fa-pen-to-square"></i></td>
      <td><i class="fa-solid fa-trash"></i></td>
    </tr>
</body>
</html>