{% extends 'layout.html' %}

{% block body %}

<header class="hero" id="bg-texture-concrete">
<!-- Navbar -->
{% include 'includes/_navbar_loged_in.html' %}

  <div class="content">
    <!-- Heading -->
    <h1>Your Classes</h1>
    <p>Add, view, edit and remove your classes.</p>

    <!-- Add Class Form -->
    <div class="form_container_add_items">      
      <form method="POST" action="{{ url_for('classes') }}" class="add-items-form">
        <input type="text" name="class_name" placeholder="Add a Class" required>
        <button type="submit" name="add_class" class="btn"><i class="fa-solid fa-plus"></i></button>
      </form>
    </div>

    <!-- Classes Overview -->
 
    <table>
      {% for class in class_list %}
      <tr>
        <td><a href="#" class="pen"><i class="fa-sharp fa-solid fa-check-to-slot"></i></a></td>
        <td><a href="#" class="project-link">{{class}}</a></td>
        <td><a href="#" class="checkmark"><i class="fa-solid fa-check"></td>
        <td><a href="#" class="trash"><i class="fa-solid fa-trash"></td>
        <td><a href="#" class="pen"><i class="fa-solid fa-pen"></i></a></td>
      </tr>
      {% endfor %}
    </table>
</header>
{% endblock %}