{% extends 'layout.html' %}

{% block body %}
  <main>
    <section id="about" class="icons bg-light">
      <div class="flex-items">
        <div>
          <i class="fa-solid fa-sitemap fa-2x"></i>
          <div>
            <h3>Get Organized</h3>
            <p>Keep all your classes, the related projects and todos in one place.</p>
          </div>
        </div>
        <div>
          <i class="fa-solid fa-calendar-days fa-2x"></i>
          <div>
            <h3>Keep The Overview</h3>
            <p>Keep track of your next project and stay focused on the right tasks.</p>
          </div>
        </div>
        <div>
          <i class="fa-sharp fa-regular fa-face-smile fa-2x"></i>
          <div>
            <h3>Study Stressfree</h3>
            <p>Forget about anxiety and enjoy your free and university without beeing stressed.</p>
          </div>
        </div>
      </div>
    </section>
    {# <section class="solutions flex-columns">
      <div class="row">
        <div class="column">
          <div class="column-1">
            <img src="/static/images/getting_things_done.jpg" alt="">
          </div>
        </div>
        <div class="column">
          <div class="column-2 bg-primary">
            <h4>What you are looking for</h4>
            <h2>We provide bespoke solutions</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, non! Illum qui, nihil sapiente totam inventore, voluptatum itaque a optio quis dolores, molestiae iste voluptatem officia eum possimus aliquam provident?</p>
            <a href="#" class="btn btn-outline">Read More</a>
          </div>
        </div>
      </div>
    </section> #}
  </main>
{% endblock %}
