{% extends 'layout.html' %}

{% block body %}

<header class="hero" id="bg-students">

  {% include 'includes/_navbar.html' %}

  <div class="content">
  <h1>Stay Organized & Study Stressfree</h1>
  <p><strong>sTudoo</strong> helps students to organize their class related projects, keep the overview of the todos and stay on track with deadlines.</p>
  <a href="#about" class="btn"><i class="fa-solid fa-chevron-down"></i> Learn More</a>
  </div>
</header>

<!-- VALUE PROPOSITION -->
<main>
    <section id="about" class="icons bg-light">
      <div class="flex-items">
        <div>
          <i class="fa-solid fa-sitemap fa-2x"></i>
          <div>
            <h3>Get Organized</h3>
            <p>Keep all your classes, the related projects and todos in one place.</p>
          </div>
        </div>
        <div>
          <i class="fa-solid fa-calendar-days fa-2x"></i>
          <div>
            <h3>Keep The Overview</h3>
            <p>Keep track of your next project and stay focused on the right tasks.</p>
          </div>
        </div>
        <div>
          <i class="fa-sharp fa-regular fa-face-smile fa-2x"></i>
          <div>
            <h3>Study Stressfree</h3>
            <p>Forget about anxiety and enjoy your free and university time without beeing stressed.</p>
          </div>
        </div>
      </div>
</main>
{% endblock %}
