{% extends 'layout.html' %}

{% block body %}

<header class="hero" id="bg-students">

  {% include 'includes/_navbar.html' %}

  <div class="content">
  <h1>Stay Organized & Study Stressfree</h1>
  <p><strong>sTudoo</strong> helps students to organize their class related projects, keep the overview of the todos and stay on track with deadlines.</p>
  <a href="#outline" class="btn"><i class="fa-solid fa-chevron-down"></i> Learn More</a>
  </div>
</header>

<section id="outline" class="hero bg-texture-concrete">
  <div class="content">
  <h1>Outline</h1>
  <p>What is <em>sTudoo</em> under the hood?</p>
  <ul>
    <li><a href="#value_proposition">1. Value Proposition</a></li>
    <li><a href="#app_structure">2. App Structure</a></li>
      <ul>
        <li><a href="#ui_design">2.1. UI Design</a></li>
        <li><a href="#css_structure">2.2. CSS Structure</a></li>
        <li><a href="#css_structure">2.3. App Modules & Database</a></li>
      </ul>
    <li><a href="#app_functionality">3. App Functionality</a></li>
      <ul>
        <li><a href="#user_registration_login">3.1. User Registration, Login & Account Deletion</a></li>
        <li><a href="#user_registration_login">3.2. Class, Project & List Overviews</a></li>
        <li><a href="#user_registration_login">3.3. Adding, Editing & Deletion of Classes, Projects & Todos</a></li>
      </ul>
    <li><a href="#someday_maybe_features">4. Someday/Maybe Features</a></li>
  </ul>
  <a href="#value_proposition" class="btn"><i class="fa-solid fa-chevron-down"></i></a>
</section>

<section id="value_proposition" class="hero bg-white-bricks">
  <div class="content">
  <h1>Value Proposition</h1>
  <p>Why you shoul use <em>sTudoo</em>?</p>
  <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum obcaecati quam magni facilis. Nam eum officia ratione. Nam, ducimus omnis?</h2>
  <a href="#value_proposition" class="btn"><i class="fa-solid fa-chevron-down"></i></a>
</section>

<!-- VALUE PROPOSITION -->
<!-- <main>
    <section id="about" class="icons bg-light">
      <div class="flex-items">
        <div>
          <i class="fa-solid fa-sitemap fa-2x"></i>
          <div>
            <h3>Get Organized</h3>
            <p>Keep all your classes, the related projects and todos in one place.</p>
          </div>
        </div>
        <div>
          <i class="fa-solid fa-calendar-days fa-2x"></i>
          <div>
            <h3>Keep The Overview</h3>
            <p>Keep track of your next project and stay focused on the right tasks.</p>
          </div>
        </div>
        <div>
          <i class="fa-sharp fa-regular fa-face-smile fa-2x"></i>
          <div>
            <h3>Study Stressfree</h3>
            <p>Forget about anxiety and enjoy your free and university time without beeing stressed.</p>
          </div>
        </div>
      </div>
</main> -->
{% endblock %}
