<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="CSS/utilities.css">
  <link rel="stylesheet" href="CSS/stylesheet_logedin.css">
  <script src="https://kit.fontawesome.com/29bd2ed884.js" crossorigin="anonymous"></script>
  <title>sTudoo | Let's Get Things Done!</title>
</head>
<body id="home">
  <header class="hero" id="hero_signup">
    <div id="navbar" class="navbar">
      <h1 class="logo">
        <span class="text-primary"><i class="fa-solid fa-graduation-cap"></i>sTu</span>doo
      </h1>
      <nav>
        <ul>
          <li><a href="index.html" class="current">Home</a></li>
          <li><a href="todos.html" class="link-yellow" class="current" >Todos</a></li>
          <li><a href="projects.html" class="link-yellow">Projects</a></li>
          <li><a href="classes.html" class="link-yellow">Classes</a></li>
          <li><a href="user.html" ><i class="fa-regular fa-circle-user"></i></a></li>
          <li><a href="login.html"><i class="fa-solid fa-right-from-bracket"></i></a></li>
        </ul>
      </nav>
    </div>
    <div class="content">
      <h1>Let's get started!</h1>
      <p>Add something new to one of your lists.</p>
      <a href="#" class="btn">Add a Class</a>
      <a href="#" class="btn">Add a Project</a>
      <a href="#" class="btn">Add a Todo</a>
    </div>
</div>
  </header>
</body>
</html>