{% extends 'layout.html' %}

{% block body %}

  <header class="hero" id="bg-students">

    <!-- Navbar -->
    {% include 'includes/_navbar.html' %}

    <div class="content">
      <!-- Header -->

      <h1>Log in</h1>
      <p>To get things done!</p>
      
      <!-- Form  -->
      <div id="form_container">      
        <!-- <form method="POST" action="{{url_for('login')}}">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
          </div>
          <button type="submit" class="btn">Login</button>
        </form> -->
        <form method="POST" action="{{url_for('login')}}">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
          </div>
          <button type="submit" class="btn">Login</button>
          <p class="small_text">Don't have an account? <a href="{{url_for('sign_up')}}">Sign up here</a></p>
        </form>
      </div>
  </header>
{% endblock %}