{% extends 'layout.html' %}

{% block body %}

<header class="hero bg-texture-concrete">

<!-- Navbar -->
{% include 'includes/_navbar_loged_in.html' %}

  <div class="content">

    <!-- Heading -->
    <h1>Your Projects</h1>
    <p>Add, view, edit and remove your projects.</p>

    <!-- Add Projects Form -->

    <div class="form_container_add_items">      
      <form method="POST" action="{{ url_for('projects') }}" class="add-items-form">

        <!-- Date Field -->
        <input type="date" id="submission_date" name="submission_date">

        <!-- Select field for class_id -->
        <select name="class_id" required>
          <option value="">Class</option>
          <!-- Populate the options dynamically from the database -->
          {% for class in classes %}
          <option value="{{ class[0] }}">{{ class[1] }}</option>
          {% endfor %}
        </select>

          <!-- Add Project Field -->
          <input type="text" name="project_name" placeholder="Add a Project" required>
          <button type="submit" name="add_project" class="btn"><i class="fa-solid fa-plus"></i></button>
      </form>
    </div>

    <!-- Projects Overview -->
  
    <table>
      {% for project in project_list %}
      <tr>
        <td><a href="#" class="pen"><i class="fa-solid fa-chalkboard-user"></i></a></td>
        <td><a href="#" class="pen"><i class="fa-sharp fa-solid fa-check-to-slot"></i></a></td>
        <td>23.08.2023</td>
        <td><a href="#" class="project-link">{{ project[1] }}</a></td>
        <!--project[1] damit nur der projektname (2. Eintrag in DB) angezeigt wird ohne die ID-->
        <td><a href="#" class="checkmark"><i class="fa-solid fa-check"></td>
        <td><a href="#" class="pen"><i class="fa-solid fa-pen"></i></a></td>
        <td>
          <form method="POST" action="{{ url_for('delete_entry') }}">
            <input type="hidden" name="entry_id" value="{{ project[0] }}">
            <input type="hidden" name="entry_type" value="project">
            <button type="submit" class="trash" onclick="return confirm('Are you sure you want to delete this project?')">
              <i class="fa-solid fa-trash"></i>
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </table>
</div>
</header>

{% endblock %}