<!DOCTYPE html>
<html>
<head>
	<title>Registrierung</title>
</head>
<body>
	<h1>Registrierung</h1>
	<form method="POST" action="{{ url_for('register') }}">
		<label for="username">Benutzername:</label>
		<input type="text" id="username" name="username" required><br><br>
		<label for="email">E-Mail-Adresse:</label>
		<input type="email" id="email" name="email" required><br><br>
		<label for="password">Passwort:</label>
		<input type="password" id="password" name="password" required><br><br>
		<input type="submit" value="Registrieren">
	</form>
</body>
</html>
