{% extends 'layout.html' %}

{% block body %}

  <header class="hero" id="bg-students">

    {% include 'includes/_navbar.html' %}

    <div class="content">
      <!-- Header -->
      
      <h1>Sign up for free</h1>
      <p>It's free and only takes a minute</p>

      <!-- Signup Form -->
      
      <div id="form_container">      
        <form method="POST" action="{{url_for('sign_up')}}">
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" required>
          </div>
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
          </div>
          <button type="submit" class="btn">Sign Up</button>
          <p>By clicking the Sign Up button, you agree to our <a href="#">Terms & conditions</a> and <a href="#">Privacy Policy</a></p>
          <p class="small_text">Already have an account? <a href="{{url_for('login')}}">Login Here</a></p>
        </form>
      </div>
    </div>
  </header>
{% endblock %}