<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="/static/css/utilities.css">
  <link rel="stylesheet" href="/static/css/stylesheet_projects.css"> -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/utilities.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename ='css/stylesheet_projects.css')}}">
  <script src="https://kit.fontawesome.com/29bd2ed884.js" crossorigin="anonymous"></script>
  <title>sTudoo | Todos </title>
</head>
<body id="home">
  <header class="hero" id="hero_signup">
    <div id="navbar" class="navbar">
      <h1 class="logo">
        <span class="text-primary"><i class="fa-solid fa-graduation-cap"></i>sTu</span>doo
      </h1>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="todos.html"class="current">Todos</a></li>
          <li><a href="{{url_for('projects')}}">Projects</a></li>
          <li><a href="classes.html">Classes</a></li>
          <li><a href="{{url_for('useraccount')}}"><i class="fa-regular fa-circle-user"></i></a></li>
          <li><a href="{{url_for('logout')}}"><i class="fa-solid fa-right-from-bracket"></i></a></li>
        </ul>
      </nav>
    </div>
    <div class="content">

      <h1>Your Todos</h1>
      <div id="add_project">
        <form method="POST" action="{{ url_for('todos') }}" class="add-form">
          <select name="class_id" required>
            <option value="">Select a class</option>
            {% for class in classes %}
            <option value="{{ class[0] }}">{{ class[1] }}</option>
            {% endfor %}
          </select>

          <select name="project_id" required>
            <option value="">Select a project</option>
            {% for project in projects %}
            <option value="{{ project[0] }}">{{ project[1] }}</option>
            {% endfor %}
          </select>

          <div id="project-input">
            <input type="text" name="todo_name" placeholder="Add a todo">
          </div>
          <button type="submit" name="add_todo">Add</button>
        </form>
      </div>
      
      <div id="projects-overview">
        <table>
          <tr>
            <td><a href="#" class="pen"><i class="fa-solid fa-chalkboard-user"></i></a></td>
            <td><a href="#" class="pen"><i class="fa-sharp fa-solid fa-check-to-slot"></i></a></td>
            <td>Datenbankanbindung User-Login</td>
            <td><a href="#" class="checkmark"><i class="fa-solid fa-check"></td>
            <td><a href="#" class="trash"><i class="fa-solid fa-trash"></td>
            <td><a href="#" class="pen"><i class="fa-solid fa-pen"></i></a></td>
          </tr>
        </table>
      </div>
    </div>
  </header>
</body>
</html>