{% extends 'layout.html' %}

{% block body %}

  <header class="hero bg-texture-concrete">

    <!-- Navbar -->
    {% include 'includes/_navbar.html' %}

    <div class="content">
      <!-- Header -->     
      <h1>Delete your account</h1>
      <p>Please type in your login data</p>
      <form method="POST" action="{{ url_for('delete_account') }}">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password">
        </div>
        <button type="submit" class="btn-red" onclick="return confirm('Are you sure you want to delete your account?')">Delete</button>
      </form>
    </div>
  </header>
{% endblock %}