{% extends 'layout.html' %}

{% block body %}

<header class="hero bg-texture-concrete">
<!-- Navbar -->
{% include 'includes/_navbar_loged_in.html' %}

  <div class="content">
    <!-- Heading -->
    <h1>Your Classes</h1>
    <p>Add, view, edit and remove your classes.</p>

    <!-- Add Class Form -->
    <div class="form_container_add_items">      
      <form method="POST" action="{{ url_for('classes') }}" class="add-items-form">
        <input type="text" name="class_name" placeholder="Add a Class" required>
        <button type="submit" name="add_class" class="btn"><i class="fa-solid fa-plus"></i></button>
      </form>
    </div>

    <!-- Classes Overview -->
 
    <table>
      {% for class_item in class_list %}
      <tr>
      <td>
        <form method="POST" action="{{ url_for('classes') }}">
          <input type="hidden" name="class_id_to_mark" value="{{ class_item[0] }}">
            <!-- Verstecktes Eingabefeld mit class ID, die markiert werden soll -->
          <button type="submit" name="mark_completed">
            <!--Check (Haken) als button, um die POST methode abzusenden -->
          <a href="#" class="project-link{{ ' checked' if class_item[2] == 1 else '' }}">{{ class_item[1] }}</a>
            <!-- Falls die Klasse als abgeschlossen markiert ist (completed == 1),
              wird die "checked" Klasse hinzugefügt, um den Text durchzustreichen
              (class_item[2] da in der Route class_id weggelassen wird und das abgefragte Tupel
              nur 3 Einträge hat, weshalb completed = class_item[2] wird,
               -->
          <i class="fa-solid fa-check"></i>
          </button>
      </form>
    </td>
        <td><a href="#" class="pen"><i class="fa-sharp fa-solid fa-check-to-slot"></i></a></td>
        <td><a href="#" class="pen"><i class="fa-solid fa-pen"></i></a></td>
        <td>
          <form method="POST" action="{{ url_for('delete_entry') }}">
            <input type="hidden" name="entry_id" value="{{ class_item[0] }}">
            <input type="hidden" name="entry_type" value="class">
            <button type="submit" class="trash" onclick="return confirm('Are you sure you want to delete this class?')">
              <i class="fa-solid fa-trash"></i>
          </button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </table>
</header>
{% endblock %}