<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename ='css/style.css')}}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://kit.fontawesome.com/29bd2ed884.js" crossorigin="anonymous"></script>
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Welcome to sTudoo</title>
  {% endif %}
</head>
<body>
  {% block body %}
  {% endblock %}
  {% include 'includes/_footer.html' %}
</body>
</html>