{% extends 'layout.html' %}

{% block body %}

  <header class="hero bg-texture-concrete">
    <!-- Navbar -->
    {% include 'includes/_navbar_loged_in.html' %}

    <div class="content">

    <!-- Heading -->
    <h1>Your Account</h1>

    <!-- Account Data -->
      <table>
        <tr>
          <td class="first_column">First Name</td>
          <td>{{first_name}}</td>
        </tr>
        <tr>
          <td class="first_column">Last Name</td>
          <td>{{last_name}}</td>
        </tr>
        <tr>
          <td class="first_column">Email</td>
          <td>{{email}}</td>
        </tr>
      </table>
      <div id="buttons">
        <a href="{{ url_for('delete_site') }}" class="btn-red">Delete Account</a>
      </div>
    </div>

  </header>
{% endblock %}